@charset "utf-8";

/* 

    Author : Alicia
    Date : 2023-06-05

    Filename : footer.css

 */

 footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    align-items: center;
 }
 footer nav ul {
    display: flex;
    column-gap: 20px;
    font-size: 2.4rem;
 }
 nav a:hover {
    color: var(--tertiary-color)
 }